# Ignorar carpetas y archivos específicos de entornos locales
.venv/
__pycache__/
*.pyc
*.pyo

# Archivos de Jupyter/logs
.ipynb_checkpoints
.DS_Store

# Datos sensibles o grandes (si hubiera)
data/
logs/

# Ignorar el propio Dockerfile y el .dockerignore
Dockerfile
.dockerignore